  <div class="container mt-3">
    <div class="card p4 bg-white">
      <div class="card-header">
        <h3 class="card-title">Kontakti</h3>
      </div>
      <div class="ml-2">
        <div class="card-body">
          <h5 class="card-text">Maloprodaja</h5>
          <div class="card-text ml-3">&#9642; 099-228-3850</div>
        </div>
        <div class="card-body">
          <h5 class="card-text">Veleprodaja</h5>
          <div class="ml-3">
            <div class="card-text">&#9642; 099-315-6805</div>
            <div class="card-text">&#9642; 099-373-4227</div>
            <div class="card-text">&#9642; 091-572-6410</div>
          </div>
        </div>
      </div>
    </div>
  </div>
