<div class="container-fluid mt-3">
	<div class="card p4">
		<div class="card-header">
			<h3 class="card-title">Kontakti</h3>
		</div>
		<div class="card-body">
			<div class="d-inline-block mr-4" style="vertical-align: top;">
				<h5 class="card-text">Maloprodaja</h5>
				<div class="card-text ml-3">&#9642; 099-228-3850</div>
			</div>
			<div class="d-inline-block">
				<h5 class="card-text">Veleprodaja</h5>
				<div class="ml-3">
					<div class="card-text">&#9642; 099-315-6805</div>
					<div class="card-text">&#9642; 099-373-4227</div>
					<div class="card-text">&#9642; 091-572-6410</div>
				</div>
			</div>
		</div>
		<div>
			<div class="mapouter">
				<div class="gmap_canvas">
					<iframe width="100%" height="500px" id="gmap_canvas"
						src="https://maps.google.com/maps?q=dolac%2C%20zagreb&t=&z=15&ie=UTF8&iwloc=&output=embed"
						frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
					</iframe></div>
			</div>
		</div>
	</div>
</div>