<div class="container mt-3">
  <div>
    <h4 style="cursor:pointer" class="bg-light p-2 rounded " (click)="changeJanjetina()">Janjetina</h4>
    <div *ngIf="janjetina">
      <div class="row">
        <div class="card">
          <img src="..." class="card-img-top imgSize" alt="Janjeća koljenica">
          <div class="card-body">
            <h5 class="card-title">Janjeća koljenica</h5>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top imgSize" alt="Janjeći file">
          <div class="card-body">
            <h5 class="card-title">Janjeći file</h5>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top imgSize" alt="Janjeći but">
          <div class="card-body">
            <h5 class="card-title">Janjeći but</h5>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top imgSize" alt="...">
          <div class="card-body">
            <h5 class="card-title">Janjeća pred. četvrt</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <img src="assets/images/janjeciFrencRek.jpg" class="card-img-top imgSize" alt="Janjeći freč. reck">
          <div class="card-body">
            <h5 class="card-title">Janjeći freč. reck</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 style="cursor:pointer" (click)="changeJunetina()" class="bg-light p-2 rounded">Juneći proizvodi</h4>
    <div *ngIf="junetina">
    <div class="row">
      <div class="card">
        <img src="..." class="card-img-top imgSize" alt="Porcionirani biftek">
        <div class="card-body">
          <h5 class="card-title">Porcionirani biftek, 250g</h5>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top imgSize" alt="Juneći ribaj">
        <div class="card-body">
          <h5 class="card-title">Juneći ribaj, 300g</h5>
        </div>
      </div>
      <div class="card">
        <img src="..." class="card-img-top imgSize" alt="T-bone">
        <div class="card-body">
          <h5 class="card-title">T-bone, 300g</h5>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/juneciburger.jpg" class="card-img-top imgSize" alt="Juneći burger">
        <div class="card-body">
          <h5 class="card-title">Juneći burger, 98% junetina, 180g</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div>
    <h4 style="cursor:pointer" (click)="changeSvinjetina()" class="bg-light p-2 rounded">Iberico crna svinja</h4>
    <div *ngIf="svinjetina">
    <div class="row">
      <div class="card">
        <img src="assets/images/Iberico presa, crna svinja.jpg" class="card-img-top imgSize" alt="Iberico frenč. reck">
        <div class="card-body">
          <h5 class="card-title">Iberico frenč. reck</h5>
        </div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/presaa%20iberica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Presa odrezak</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div>
    <h4 style="cursor:pointer" (click)="changePatkaGuska()" class="bg-light p-2 rounded">Patka - guska</h4>
    <div *ngIf="patkaguska">
    <div class="row">
      <div class="card">
        <img src="..." class="card-img-top imgSize" alt="Pačja prsa">
        <div class="card-body">
          <h5 class="card-title">Pačja prsa</h5>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/pacjiBatakZabatak.jpg" class="card-img-top imgSize" alt="Pačji batak - zabatak">
        <div class="card-body">
          <h5 class="card-title">Pačji batak - zabatak</h5>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/gusjaJetra.jpg" class="card-img-top imgSize" alt="Guščja jetra">
        <div class="card-body">
          <h5 class="card-title">Guščja jetra</h5>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/gusjamast_gusjajetra.jpg" class="card-img-top imgSize" alt="Guščja mast">
        <div class="card-body">
          <h5 class="card-title">Guščja mast</h5>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
