<div class="container">
  <p>
    Mant d.o.o
    Obiteljska firma koja uspješno posluje na tržištu od 2006 godine.
    Poslovna orijentacija firme je :
    - Maloprodaja delikatesnog asortimana koja se nalazi na tržnici Dolac
    -Veleprodaja sa poslovnom orijentacijom na asortiman za restorane i hotele
  </p>
    <div style="text-align: center; width: 100%;">
    <img src="assets/images/Dućan maloprodaja Dolac.jpg" class="card-img-top" alt="Trgovina" style="width: 900px;height: 500px;">
  </div>
</div>
