<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">Mant LOGO</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/maloprodaja" class="nav-link">Maloprodaja</a>
      </li>
      <li class="nav-item">
        <a routerLink="/veleprodaja" class="nav-link">Veleprodaja</a>
      </li>
      <li class="nav-item">
        <a routerLink="/o-nama" class="nav-link">O nama</a>
      </li>
      <li class="nav-item">
        <a routerLink="/kontakt" class="nav-link">Kontakt</a>
      </li>
    </ul>
</nav>
