<div class="container mt-3">
  <div class="card p-3" style="width: fit-content">
    <div class="row">
      <h4 class="col-12">Suhomesnati proizvodi</h4>
    </div>
    <div class="row">
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Drniški pršut</h5>
          <p class="card-text">suh0</p>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Govedi pršut - Suduk</h5>
          <p class="card-text">suh1</p>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Salame od divljaci</h5>
          <p class="card-text">suh2</p>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Divljač</h5>
          <p class="card-text">suh3</p>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Perad</h5>
          <p class="card-text">suh4</p>
        </div>
      </div>
    </div>
    </div>
    <div class="card p-3 mt-4" style="width: fit-content">
      <div class="row">
        <h4 class="col-12">Sirevi</h4>
      </div>
      <div class="row">
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MIH Sirana Kolan</h5>
            <p class="card-text">Sir1</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sirana Tomaić, Krasno</h5>
            <p class="card-text">Sir2</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paška sirana d.d.</h5>
            <p class="card-text">Sir3</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sirana I-Pak, Pakovo selo</h5>
            <p class="card-text">Sir4</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grana padana</h5>
            <p class="card-text">Sir5</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Čedar</h5>
            <p class="card-text">Sir6</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pekorino</h5>
            <p class="card-text">Sir7</p>
          </div>
        </div>
      </div>
    </div>
  </div>
