<div class="container mt-3">

	<h1>Suhomesnati proizvodi</h1>

	<div class="row">
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/PRŠUT-%20BEL%20CRO.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Drniški pršut</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/Goveđi pršut i goveđi suđuk, halal certifikat.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Govedi pršut - Suđuk</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/kobasicaOdDivljaci.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Salame od divljači</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/gulas_divljac.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Divljač</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/not-found.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Perad</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/plata.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Plata</h5>
				</div>
			</div>
		</div>
	</div>

	<h1>Sirevi</h1>

	<div class="row">
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/SIREVI-%20MIH.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">MIH Sirana Kolan</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/SIREVI-%20KRASNO%20%20RUNOLIST.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Sirana Tomaić, Krasno</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/PAŠKA%20SIRANA.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Paška sirana d.d.</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/I-pak-sirevi-e1414604160717.jpg"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Sirana I-Pak, Pakovo selo</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/GRANA%20PADANA.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Grana padana</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/not-found.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Čedar</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="assets/images/not-found.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Pekorino</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/mini-paski-sir.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Mini paški sir</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/paski-sir.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Paški sir</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-flex align-items-stretch pb-2">
			<div class="card">
				<img class="card-img-top" src="../../../../assets/images/marija-zvijezda.png" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Marija zvijezda</h5>
				</div>
			</div>
		</div>
	</div>
</div>
