<div class="container mt-3">
  <div class="card p-3" style="width: fit-content">
    <div class="row">
      <h4 class="col-12">Suhomesnati proizvodi</h4>
    </div>
    <div class="row">
      <div class="card mx-2 p-3">
        <img src="../../../../assets/images/PRŠUT-%20BEL%20CRO.jpg" class="card-img-top imgSize" alt="...">
        <div class="card-body">
          <h5 class="card-title">Drniški pršut</h5>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="assets/images/Goveđi pršut i goveđi suđuk, halal certifikat.jpg" class="card-img-top imgSize" alt="Goveđi pršut - suduk">
        <div class="card-body">
          <h5 class="card-title">Govedi pršut - Suđuk</h5>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top imgSize" alt="Salame od divljači">
        <div class="card-body">
          <h5 class="card-title">Salame od divljači</h5>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="assets/images/kobasicaOdDivljaci.jpg" class="card-img-top imgSize" alt="Divljač">
        <div class="card-body">
          <h5 class="card-title">Divljač</h5>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="..." class="card-img-top imgSize" alt="Perad">
        <div class="card-body">
          <h5 class="card-title">Perad</h5>
        </div>
      </div>
      <div class="card mx-2 p-3">
        <img src="assets/images/plata.jpg" class="card-img-top imgSize" alt="Plata">
        <div class="card-body">
          <h5 class="card-title">Plata</h5>
        </div>
      </div>
    </div>
    </div>
    <div class="card p-3 mt-4" style="width: fit-content">
      <div class="row">
        <h4 class="col-12">Sirevi</h4>
      </div>
      <div class="row">
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/SIREVI-%20MIH.jpg" class="card-img-top imgSize" alt="MIH Sirana Kolan">
          <div class="card-body">
            <h5 class="card-title">MIH Sirana Kolan</h5>
            <p class="card-text">Sir1</p>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/SIREVI-%20KRASNO%20%20RUNOLIST.jpg" class="card-img-top imgSize" alt="Sirana Tomaić">
          <div class="card-body">
            <h5 class="card-title">Sirana Tomaić, Krasno</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/PAŠKA%20SIRANA.jpg" class="card-img-top imgSize" alt="Paška sirana d.d.">
          <div class="card-body">
            <h5 class="card-title">Paška sirana d.d.</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/I-pak-sirevi-e1414604160717.jpg" class="card-img-top imgSize" alt="Sirana I-Pak">
          <div class="card-body">
            <h5 class="card-title">Sirana I-Pak, Pakovo selo</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/GRANA%20PADANA.png" class="card-img-top imgSize" alt="Grana padana">
          <div class="card-body">
            <h5 class="card-title">Grana padana</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top imgSize" alt="Čedar">
          <div class="card-body">
            <h5 class="card-title">Čedar</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="..." class="card-img-top imgSize" alt="Pekorino">
          <div class="card-body">
            <h5 class="card-title">Pekorino</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/mini-paski-sir.jpg" class="card-img-top imgSize" alt="mini paski sir">
          <div class="card-body">
            <h5 class="card-title">Mini paški sir</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/paski-sir.jpg" class="card-img-top imgSize" alt="paski sir">
          <div class="card-body">
            <h5 class="card-title">Paški sir</h5>
          </div>
        </div>
        <div class="card mx-2 p-3">
          <img src="../../../../assets/images/marija-zvijezda.png" class="card-img-top imgSize" alt="marija-zvijezda">
          <div class="card-body">
            <h5 class="card-title">Marija zvijezda</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
